.selectbox {
	width: 100%;
    height: 100%;
	position: relative;
}

.select {
	background: #fff;
	width: 100%;
    height: 100%;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: .2s ease all;
	margin-bottom: 30px;
	padding: 0px 15px;
	position: relative;
	z-index: 200;
	border: 2px solid transparent;
}

.select.active,
.select:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
	border: 2px solid #213f8f;
}

.select.active:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border-top: 10px solid #213f8f;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	bottom: -20px;
	left: calc(50% - 10px);
}

.select i {
	font-size: 15px;
	margin-left: 30px;
	color: #213f8f;
}

.titulo {
	color: #000;
	font-weight: 600;
	font-size: 14px;
    margin: 0px;
}

.a{
    text-decoration: none;
}

.opciones {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 152Cpx;
	overflow: auto;
	z-index: 100;
	width: 100%;
	display: none;
}

.opciones.active {
	display: block;
	animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(-200px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion {
	width: 100%;
	display: flex;
	align-items: center;
	transition: .2s ease all;
}

.opciones .contenido-opcion {
	padding: 10px;
}

.contenido-opcion img {
	width: 30px;
	height: 30px;
	margin-right: 15px;
}

.opciones .contenido-opcion:hover {
	background: #213F8F;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion {
	color: #fff;
}

@media screen and (max-width: 800px){
	.selectbox {
		width: 100%;
	}
}